# environment variables for the project

# NextAuth
# Generate your own secret key for JWT encryption, typing command : `openssl rand -base64 32`
AUTH_SECRET=your-secret-key                     # ex: AUTH_SECRET=dkH0v9E+YN8WnPAqLGa4EEyuwyTvpSrXnVPeOrH25Dc=
# AUTH_URL=http://localhost:3000/api/auth

# Prisma
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="SUBSTITUTE_SUPABASE_ANON_KEY"     # ex: DATABASE_URL="postgresql://username:password@ep-super-unit-1.eu-central-1.aws.neon.tech/database?sslmode=require"

# SendGrid
# to send emails (or if you want to develop magic link for authentication)
AUTH_SENDGRID_KEY=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

# Google OAuth
# Have look at https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=your-google-Oauth2.0             # ex: AUTH_GOOGLE_ID=567651309970-23rp816jgpjmi8lfpft2qs8cq706gqkq.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=your-secret                  # ex: AUTH_GOOGLE_SECRET=JUCSPX-l_QYVXoPxr0pLVDEyNB4n3XzxAN9

# Stripe
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_12345
STRIPE_SECRET_KEY=sk_12345
STRIPE_SECRET_WEBHOOK_KEY=whsec_12345
NEXT_BASE_URL=http://localhost:3000

# Google Analytics
GOOGLE_ANALYTICS_ID=G-xxxxxxx